.header{
    text-align: center;
    list-style: none;
    display: flex;
}

.imovieslogo{
    height: 120px;
    width: 120px;
    margin-top: 14px;
}

.maineimagen{
    display: inline-flex;
    justify-content: space-around;
    margin-left: 20px;
}

.headerLista{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 330px;
    font-size: larger;
    margin-top: 48px;
    
}
.headerlista{
    text-decoration: none;
    color: white;
    justify-content: space-around;
}

.headerTitulo{
    text-decoration: none;
    color: white;
    justify-content: space-around;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    font-size: xx-large;
    font-family: rockwell;
    font-weight: bolder;
    color:white;
    margin-top: 50px;
}
