/* .header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255,255,255);
    padding: 4px 0;
    margin-top: 5px;
    color: white;
    margin: auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
} */
/* .imovieslogo{
    display: flex;
    width: 10%;
    height: 100%;
    text-align: center;
    align-self: center;
    
} */

/* .maineimagen{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: left;
    align-self: center;
    
}
.headerlista{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-self: center;
    
}
.headerlista li{
    margin:0 1vh;
    align-self: center;
} */

.header{
    display: flex;
    background-color: rgb(255,255,255);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}

.maineimagen{
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerlista{
    display: flex;
    justify-content: space-between;
    width: 50%;
    


}

.imovieslogo{
    width: 10%;
}

a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.headerlista li{
    margin:0 1vh;
    align-self: center;
} 