.header{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px 0;
    text-decoration:none
}
.imovieslogo{
    display: flex;
    margin-right: 30px;
    width:7%;
    height: 10%;
    text-align: center;
    
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #00c8ff;
    padding: 50px 0;
    margin-top: 50px;
    color: white;
    margin: auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}