body {
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    color: white;

}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
