.footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #00c8ff;
    padding: 4px 0;
    margin-top: 5px;
    color: white;
    margin: auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.nombresequipo{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5%;
}
.nombresequipo li{
    margin:0 1vh;
    align-self: center;
}
.digitahouselogo{
    display: flex;
    padding: 10px;
    margin: auto;
    width: auto;
    height: 50%;
   
}
.udesalogo{
    display: flex;
    padding: 10px;
    margin: auto;
    width: auto;
    height: 50%;
    
}



